/* body{
    background: rgba(0, 0, 0, 0.609);
    color:whitesmoke
} */

@media (max-width: 668px) {
    header{
        width: 100%;
    }
    #header_Titel{
        font-size: 35px;
    }
    main{
        width: 100%;
    }
    .container_Width{
        width: 100%;
        height: 100vh;
    }
    #total_Calculation{
    flex-direction: column;
    }
    #save_Money{
        display: flex;
        flex-direction: column;
    }
    #parcent{
        display: none;
    }
    #savingButton{
        margin-top: 10px;
    }
    #saving_Amount{
        display: block;
        margin-top: 12px;
    }
    #subTotal{
        display: block;
        margin-top: 12px;
    }
}